<a href="https://colab.research.google.com/github/ayish1998/Demo-repo/blob/main/Big_Data_CW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing required libraries
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt #for visualisation
import seaborn as sns #for visualisation

sns.set(color_codes=True)

#The following line is needed to set backend if matplotlib to inline to view visuals in Jupyter Notenook
%matplotlib inline

In [ ]:
df = pd.read_csv("Australian Vehicle Prices.csv")
print (df.shape)

(16734, 19)

In [ ]:
#Inpecting the data
# Lets see what we are working with
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16734 entries, 0 to 16733
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              16733 non-null  object
 1   Year               16733 non-null  float64
 2   Model              16733 non-null  object
 3   Car/Suv            16706 non-null  object
 4   Title              16733 non-null  object
 5   UsedOrNew          16733 non-null  object
 6   Transmission       16733 non-null  object
 7   Engine             16733 non-null  object
 8   DriveType          16733 non-null  object
 9   FuelType           16733 non-null  object
 10  FuelConsumption    16733 non-null  object
 11  Kilometres         16733 non-null  object
 12  ColourExtInt       16733 non-null  object
 13  Location           16284 non-null  object
 14  CylindersinEngine  16733 non-null  object
 15  BodyType           16452 non-null  object
 16  Doors              15130 non-null  object
 17  Seats              15029 non-null  object
 18  Price              16731 non-null  object
dtypes: float64(1), object(18)
memory usage: 2.4+ MB

In [ ]:
# Some useful info
print(f"Shape: {df.shape}\n\nColumns: {list(df.columns)}")

Shape: (16734, 19)

Columns: ['Brand', 'Year', 'Model', 'Car/Suv', 'Title', 'UsedOrNew', 'Transmission', 'Engine', 'DriveType', 'FuelType', 'FuelConsumption', 'Kilometres', 'ColourExtInt', 'Location', 'CylindersinEngine', 'BodyType', 'Doors', 'Seats', 'Price']

In [ ]:
#To display top 20 rows
df.head(20)

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
5,Toyota,2004.0,Estima,ON FOUR WHEELS,2004 Toyota Estima T EDITION,USED,Automatic,-,Other,Unleaded,-,160230,Grey / -,"Saint Marys, NSW",-,Commercial,NaN,NaN,9990
6,Land,2017.0,Rover,SUV,2017 Land Rover Range Rover Evoque TD4 180 HSE...,USED,Automatic,"4 cyl, 2 L",AWD,Diesel,5.1 L / 100 km,67662,White / Black,"Blacktown, NSW",4 cyl,SUV,2 Doors,4 Seats,62280
7,Nissan,2000.0,Pulsar,Hatchback,2000 Nissan Pulsar LX,USED,Automatic,"4 cyl, 1.6 L",Front,Unleaded,8 L / 100 km,300539,Red / Grey,"Wentworthville, NSW",4 cyl,Hatchback,5 Doors,5 Seats,2995
8,Toyota,2013.0,86,Coupe,2013 Toyota 86 GT,USED,Automatic,"4 cyl, 2 L",Rear,Premium,7.1 L / 100 km,82012,Black / -,"Mcgraths Hill, NSW",4 cyl,Coupe,2 Doors,4 Seats,24888
9,Honda,2014.0,Jazz,Hatchback,2014 Honda Jazz Hybrid,USED,Automatic,"4 cyl, 1.3 L",Front,Hybrid,4.5 L / 100 km,38229,Blue / -,"Lidcombe, NSW",4 cyl,Hatchback,5 Doors,5 Seats,17900
10,Toyota,2009.0,HiAce,Carbarn,2009 Toyota HiAce (No Badge),USED,Automatic,-,Other,Unleaded,-,148190,White / -,"Lidcombe, NSW",-,Commercial,NaN,NaN,42500
11,Toyota,2018.0,HiAce,Commercial,2018 Toyota HiAce LWB,USED,Automatic,"4 cyl, 2.7 L",Rear,Unleaded,9.8 L / 100 km,16324,White / Grey,"Lidcombe, NSW",4 cyl,Commercial,4 Doors,2 Seats,41999
12,Honda,2015.0,City,USED Dealer ad,2015 Honda City GM VTi-L Sedan 4dr CVT 7sp 1.5...,USED,Automatic,-,Other,Unleaded,-,181745,Black / -,"Rouse Hill, NSW",-,NaN,NaN,NaN,11999
13,Toyota,2017.0,HiAce,USED Dealer ad,2017 Toyota HiAce,USED,Automatic,-,Other,-,-,136296,Silver / Grey,"Lidcombe, NSW",-,NaN,NaN,NaN,38999
14,Toyota,2016.0,HiAce,Commercial,2016 Toyota HiAce LWB,USED,Automatic,"4 cyl, 3 L",Rear,Diesel,8 L / 100 km,229829,White / Grey,"Lidcombe, NSW",4 cyl,Commercial,4 Doors,2 Seats,27995
15,Volkswagen,2012.0,Golf,Hatchback,2012 Volkswagen Golf 90 TSI Trendline,USED,Automatic,"4 cyl, 1.4 L",Front,Premium,6.2 L / 100 km,55676,White / Black,"Five Dock, NSW",4 cyl,Hatchback,5 Doors,5 Seats,14999
16,BMW,2014.0,X3,SUV,2014 BMW X3 Xdrive 20D,USED,Automatic,"4 cyl, 2 L",4WD,Diesel,5.6 L / 100 km,82624,Black / Black,"Haberfield, NSW",4 cyl,SUV,4 Doors,5 Seats,24985
17,Mitsubishi,2013.0,Outlander,Exclusive Autohaus,2013 Mitsubishi Outlander ES,USED,Manual,-,Other,-,-,120020,Blue / Grey,"Blacktown, NSW",-,Wagon,NaN,NaN,13999
18,BMW,2011.0,118D,Hatchback,2011 BMW 118D,USED,Automatic,"4 cyl, 2 L",Rear,Diesel,5.4 L / 100 km,95204,Silver / -,"Five Dock, NSW",4 cyl,Hatchback,5 Doors,5 Seats,13999
19,Ford,2014.0,Fiesta,Hatchback,2014 Ford Fiesta Sport,USED,Automatic,"3 cyl, 1 L",Front,Unleaded,5.4 L / 100 km,76289,White / Black,"Cabramatta, NSW",3 cyl,Hatchback,5 Doors,5 Seats,12400

In [ ]:
# Doesn't appear that these would provide any userful info so we have to drop it
df.drop(['Title','ColourExtInt','Location'],axis=1,inplace=True)

In [ ]:
# Lets see what columns have missing values
missing_columns = df.columns[df.isnull().sum() > 0]
missing_columns

Index(['Brand', 'Year', 'Model', 'Car/Suv', 'UsedOrNew', 'Transmission',
       'Engine', 'DriveType', 'FuelType', 'FuelConsumption', 'Kilometres',
       'CylindersinEngine', 'BodyType', 'Doors', 'Seats', 'Price'],
      dtype='object')

In [ ]:
# may be better just to sum them up
df.isna().sum()

Brand                   1
Year                    1
Model                   1
Car/Suv                28
UsedOrNew               1
Transmission            1
Engine                  1
DriveType               1
FuelType                1
FuelConsumption         1
Kilometres              1
CylindersinEngine       1
BodyType              282
Doors                1604
Seats                1705
Price                   3
dtype: int64

In [ ]:
# Inspecting data with missing values
df[df.Price.isnull() == True]

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price
2391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10156,Isuzu,2016.0,D-MAX,Ute / Tray,USED,Automatic,"4 cyl, 3 L",4WD,Diesel,8.1 L / 100 km,147648,4 cyl,Ute / Tray,2 Doors,4 Seats,NaN
11039,Nissan,2018.0,Pathfinder,City Jeep - Pre Owned,USED,Automatic,-,Front,Unleaded,-,52414,-,Wagon,NaN,NaN,NaN

In [ ]:
# Since it is a relatively small amount, and we need prices to predict on, we'll drop these
df = df.dropna(subset=['Price'], axis=0)

# New section

In [ ]:
#To display after dropping the irrelevant data
df.head()

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,4 cyl,SUV,4 Doors,5 Seats,34990

In [ ]:
# Checking number of unique values for each feature
df[df.columns].nunique()

Brand                   76
Year                    45
Model                  781
Car/Suv                618
UsedOrNew                3
Transmission             3
Engine                 106
DriveType                5
FuelType                 9
FuelConsumption        157
Kilometres           14261
CylindersinEngine       11
BodyType                10
Doors                   13
Seats                   13
Price                 3794
dtype: int64

In [ ]:
# Suming up missing data
df.isna().sum()

Brand                   0
Year                    0
Model                   0
Car/Suv                27
UsedOrNew               0
Transmission            0
Engine                  0
DriveType               0
FuelType                0
FuelConsumption         0
Kilometres              0
CylindersinEngine       0
BodyType              281
Doors                1602
Seats                1703
Price                   0
dtype: int64

In [ ]:
#Data Preprocessing
# Now let's figure out a good value to set the seats value on records with the value missing

total = 0
max_seats = 0
min_seats = 100000
seats_with_values = df[df.Seats.isna() == False]
seats_without_values = df[df.Seats.isna() == True]

for seats in seats_with_values.Seats:
    total += float(seats.split()[0])
    max_seats = max(max_seats, float(seats.split()[0]))
    min_seats = min(min_seats, float(seats.split()[0]))

mean = total / len(df[df.Seats.isna() == False])

print(f"Total of records with seat values {len(seats_with_values):,}")
print(f"Total of records with NO seat values: {len(seats_without_values):,}")
print(f"\nMax Seats: {max_seats}\nMin Seats: {min_seats}\nMean Seats: {mean:.1f}")

Total of records with seat values 15,028
Total of records with NO seat values: 1,703

Max Seats: 22.0
Min Seats: 2.0
Mean Seats: 5.1

In [ ]:
#using Mean to fill our missing value in with
df.Seats.fillna(f' {round(mean)} Seats',inplace=True)

In [ ]:
# Lets see where we are at by summing up again
df.isna().sum()

Brand                   0
Year                    0
Model                   0
Car/Suv                27
UsedOrNew               0
Transmission            0
Engine                  0
DriveType               0
FuelType                0
FuelConsumption         0
Kilometres              0
CylindersinEngine       0
BodyType              281
Doors                1602
Seats                   0
Price                   0
dtype: int64

In [ ]:
# Now lets figure out what we can do for records with missing door values.
df[df.Doors.isna() == False].head()

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,4 cyl,SUV,4 Doors,5 Seats,34990

In [ ]:
#Now let's figure out a good value to set the doors value on records with the value missing
total = 0
max_doors = 0
min_doors = 100000
doors_with_values = df[df.Doors.isna() == False]
doors_without_values = df[df.Doors.isna() == True]

for doors in doors_with_values.Doors:
    total += float(doors.split()[0])
    max_doors = max(max_doors, float(doors.split()[0]))
    min_doors = min(min_doors, float(doors.split()[0]))

mean = total / len(df[df.Doors.isna() == False])

print(f"Total of records with Door values {len(seats_with_values):,}")
print(f"Total of records with NO door values: {len(seats_without_values):,}")
print(f"\nMax Doors: {max_seats}\nMin Doors: {min_seats}\nMean Doors: {mean:.1f}")

Total of records with Door values 15,028
Total of records with NO door values: 1,703

Max Doors: 22.0
Min Doors: 2.0
Mean Doors: 4.0

In [ ]:
#Using mean again,to fill out the missing value.
df.Doors.fillna(f' {round(mean)} Doors',inplace=True)

In [ ]:
# See where we are by displaying the dataset again
df.isna().sum()

Brand                  0
Year                   0
Model                  0
Car/Suv               27
UsedOrNew              0
Transmission           0
Engine                 0
DriveType              0
FuelType               0
FuelConsumption        0
Kilometres             0
CylindersinEngine      0
BodyType             281
Doors                  0
Seats                  0
Price                  0
dtype: int64

In [ ]:
# Seems like a relatively small number, we can probably get away with dropping these
df = df.dropna(subset=['Car/Suv'],axis=0)

In [ ]:
# Seems like a relatively small number, we can probably get away with dropping these
df = df.dropna(subset=['BodyType'],axis=0)

In [ ]:
# See where we are by displaying the dataset again to check if there ae still some missing values
df.isna().sum()

Brand                0
Year                 0
Model                0
Car/Suv              0
UsedOrNew            0
Transmission         0
Engine               0
DriveType            0
FuelType             0
FuelConsumption      0
Kilometres           0
CylindersinEngine    0
BodyType             0
Doors                0
Seats                0
Price                0
dtype: int64

In [ ]:
# Checking the state of our types
df.dtypes

Brand                 object
Year                 float64
Model                 object
Car/Suv               object
UsedOrNew             object
Transmission          object
Engine                object
DriveType             object
FuelType              object
FuelConsumption       object
Kilometres            object
CylindersinEngine     object
BodyType              object
Doors                 object
Seats                 object
Price                 object
dtype: object

In [ ]:
# Now lets turn Doors, Seats, CylindersinEngine and Fuel Consumption into proper numbers to be coerced into a float for later
df.Seats = df.Seats.apply(lambda x: x.split()[0])
df.Doors = df.Doors.apply(lambda x: x.split()[0])
df.FuelConsumption = df.FuelConsumption.apply(lambda x: x.split()[0])
df.CylindersinEngine = df.CylindersinEngine.apply(lambda x: x.split()[0])

In [ ]:
 #Lets see if there is any visble damage
df.head()

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7,5595,4,SUV,4,7,51990
1,MG,2022.0,MG3,Hatchback,USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7,16,4,Hatchback,5,5,19990
2,BMW,2022.0,430I,Coupe,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6,8472,4,Coupe,2,4,108988
3,Mercedes-Benz,2011.0,E500,Coupe,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11,136517,8,Coupe,2,4,32990
4,Renault,2022.0,Arkana,SUV,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6,1035,4,SUV,4,5,34990

In [ ]:
# It appears we have some non-numeric based values these will get forced to NaN
df[df.FuelConsumption == '-']

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price
5,Toyota,2004.0,Estima,ON FOUR WHEELS,USED,Automatic,-,Other,Unleaded,-,160230,-,Commercial,4,5,9990
10,Toyota,2009.0,HiAce,Carbarn,USED,Automatic,-,Other,Unleaded,-,148190,-,Commercial,4,5,42500
17,Mitsubishi,2013.0,Outlander,Exclusive Autohaus,USED,Manual,-,Other,-,-,120020,-,Wagon,4,5,13999
32,Volkswagen,2023.0,T-Cross,NEW In stock,NEW,Automatic,-,Front,Premium,-,15,-,Wagon,4,5,35887
38,Jeep,2012.0,Grand,Mr Car,USED,Automatic,-,Other,Unleaded,-,224839,-,Wagon,4,5,13999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16706,Mercedes-Benz,2016.0,Sprinter,Australian Vehicle Locators,USED,Automatic,-,Rear,Diesel,-,186856,-,Commercial,4,5,39950
16708,Nissan,2008.0,Elgrand,Motorman Imports,USED,Automatic,-,Other,Unleaded,-,97000,-,Wagon,4,5,18000
16723,Suzuki,2022.0,Swift,NEW In stock,NEW,Automatic,-,Front,Unleaded,-,20,-,Hatchback,4,5,28590
16726,Toyota,2011.0,Estima,Topcar Rez,USED,Automatic,-,Front,Unleaded,-,97000,-,Wagon,7,5,21989
16729,Toyota,2014.0,Alphard,SYC Cars,USED,Automatic,-,Front,Unleaded,-,66000,-,Commercial,7,5,29500

In [ ]:
# trying and to force values to numeric, if we can
cols=['Seats',
      'Doors',
      'FuelConsumption',
      'CylindersinEngine',
      'Kilometres',
      'Price']
for col in cols:
  df[col]= pd.to_numeric(df[col], errors='coerce')

In [ ]:
# Casting columns as ideal types
df.FuelConsumption = df.FuelConsumption.astype(float)
df.CylindersinEngine = df.CylindersinEngine.astype(float)
df.Doors = df.Doors.astype(float)
df.Seats = df.Seats.astype(float)

In [ ]:
# Lets see the state of our types
df.dtypes

Brand                 object
Year                 float64
Model                 object
Car/Suv               object
UsedOrNew             object
Transmission          object
Engine                object
DriveType             object
FuelType              object
FuelConsumption      float64
Kilometres           float64
CylindersinEngine    float64
BodyType              object
Doors                float64
Seats                float64
Price                float64
dtype: object

In [ ]:
# Sum up missing data
df.isna().sum()

Brand                   0
Year                    0
Model                   0
Car/Suv                 0
UsedOrNew               0
Transmission            0
Engine                  0
DriveType               0
FuelType                0
FuelConsumption      1415
Kilometres            566
CylindersinEngine    1392
BodyType                0
Doors                   0
Seats                   0
Price                  48
dtype: int64

In [ ]:
# We can now drop the records with that price was unable to be converted (non numberic based original value)
df = df.dropna(subset=['Price'], axis=0)

In [ ]:
# Lets see what columns have missing values
missing_columns = df.columns[df.isnull().sum() > 0]
missing_columns

Index(['FuelConsumption', 'Kilometres', 'CylindersinEngine'], dtype='object')

In [ ]:
# We will create new columns in the dataset
# letting our algorthm know that the record had this value missing before we filled it
for col in missing_columns:
    missing_indicator = f'{col}_missing'
    df[missing_indicator] = df[col].isnull().astype(float)

In [ ]:
#Displaying the top 10- rows
df.head(10)

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price,FuelConsumption_missing,Kilometres_missing,CylindersinEngine_missing
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7,5595.0,4.0,SUV,4.0,7.0,51990.0,0.0,0.0,0.0
1,MG,2022.0,MG3,Hatchback,USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7,16.0,4.0,Hatchback,5.0,5.0,19990.0,0.0,0.0,0.0
2,BMW,2022.0,430I,Coupe,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6,8472.0,4.0,Coupe,2.0,4.0,108988.0,0.0,0.0,0.0
3,Mercedes-Benz,2011.0,E500,Coupe,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11.0,136517.0,8.0,Coupe,2.0,4.0,32990.0,0.0,0.0,0.0
4,Renault,2022.0,Arkana,SUV,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6.0,1035.0,4.0,SUV,4.0,5.0,34990.0,0.0,0.0,0.0
5,Toyota,2004.0,Estima,ON FOUR WHEELS,USED,Automatic,-,Other,Unleaded,NaN,160230.0,NaN,Commercial,4.0,5.0,9990.0,1.0,0.0,1.0
6,Land,2017.0,Rover,SUV,USED,Automatic,"4 cyl, 2 L",AWD,Diesel,5.1,67662.0,4.0,SUV,2.0,4.0,62280.0,0.0,0.0,0.0
7,Nissan,2000.0,Pulsar,Hatchback,USED,Automatic,"4 cyl, 1.6 L",Front,Unleaded,8.0,300539.0,4.0,Hatchback,5.0,5.0,2995.0,0.0,0.0,0.0
8,Toyota,2013.0,86,Coupe,USED,Automatic,"4 cyl, 2 L",Rear,Premium,7.1,82012.0,4.0,Coupe,2.0,4.0,24888.0,0.0,0.0,0.0
9,Honda,2014.0,Jazz,Hatchback,USED,Automatic,"4 cyl, 1.3 L",Front,Hybrid,4.5,38229.0,4.0,Hatchback,5.0,5.0,17900.0,0.0,0.0,0.0

In [ ]:
# Sum up missing data
df.isna().sum()

Brand                           0
Year                            0
Model                           0
Car/Suv                         0
UsedOrNew                       0
Transmission                    0
Engine                          0
DriveType                       0
FuelType                        0
FuelConsumption              1402
Kilometres                    551
CylindersinEngine            1379
BodyType                        0
Doors                           0
Seats                           0
Price                           0
FuelConsumption_missing         0
Kilometres_missing              0
CylindersinEngine_missing       0
dtype: int64

In [ ]:
# Refreshing ourselves with the columns with missing values
missing_columns = df.columns[df.isnull().sum() > 0]
missing_columns

Index(['FuelConsumption', 'Kilometres', 'CylindersinEngine'], dtype='object')

In [ ]:
# Lets see the state of our types they have to be correct for Imputer
df[missing_columns].dtypes

FuelConsumption      float64
Kilometres           float64
CylindersinEngine    float64
dtype: object

In [ ]:
#Import our sklearn SimpleImputer and OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
# Initialize out imputer, then fit & transform our missing data
imputer = SimpleImputer()
imputed_cols = imputer.fit_transform(df[missing_columns])

In [ ]:
# Reassign our records with missing values, with the imputed ones
# Sklearn removes columns, also we need to add the original back, our we can end out with missing values
df[missing_columns] = pd.DataFrame(imputed_cols, columns=missing_columns, index=df.index)

In [ ]:
#Let check how the dataset look again
df.isna().sum()

Brand                        0
Year                         0
Model                        0
Car/Suv                      0
UsedOrNew                    0
Transmission                 0
Engine                       0
DriveType                    0
FuelType                     0
FuelConsumption              0
Kilometres                   0
CylindersinEngine            0
BodyType                     0
Doors                        0
Seats                        0
Price                        0
FuelConsumption_missing      0
Kilometres_missing           0
CylindersinEngine_missing    0
dtype: int64

In [ ]:
# Inspecting our new dataframe
df[df.FuelConsumption_missing == 1]

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price,FuelConsumption_missing,Kilometres_missing,CylindersinEngine_missing
5,Toyota,2004.0,Estima,ON FOUR WHEELS,USED,Automatic,-,Other,Unleaded,7.666985,160230.0,4.425849,Commercial,4.0,5.0,9990.0,1.0,0.0,1.0
10,Toyota,2009.0,HiAce,Carbarn,USED,Automatic,-,Other,Unleaded,7.666985,148190.0,4.425849,Commercial,4.0,5.0,42500.0,1.0,0.0,1.0
17,Mitsubishi,2013.0,Outlander,Exclusive Autohaus,USED,Manual,-,Other,-,7.666985,120020.0,4.425849,Wagon,4.0,5.0,13999.0,1.0,0.0,1.0
32,Volkswagen,2023.0,T-Cross,NEW In stock,NEW,Automatic,-,Front,Premium,7.666985,15.0,4.425849,Wagon,4.0,5.0,35887.0,1.0,0.0,1.0
38,Jeep,2012.0,Grand,Mr Car,USED,Automatic,-,Other,Unleaded,7.666985,224839.0,4.425849,Wagon,4.0,5.0,13999.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16706,Mercedes-Benz,2016.0,Sprinter,Australian Vehicle Locators,USED,Automatic,-,Rear,Diesel,7.666985,186856.0,4.425849,Commercial,4.0,5.0,39950.0,1.0,0.0,1.0
16708,Nissan,2008.0,Elgrand,Motorman Imports,USED,Automatic,-,Other,Unleaded,7.666985,97000.0,4.425849,Wagon,4.0,5.0,18000.0,1.0,0.0,1.0
16723,Suzuki,2022.0,Swift,NEW In stock,NEW,Automatic,-,Front,Unleaded,7.666985,20.0,4.425849,Hatchback,4.0,5.0,28590.0,1.0,0.0,1.0
16726,Toyota,2011.0,Estima,Topcar Rez,USED,Automatic,-,Front,Unleaded,7.666985,97000.0,4.425849,Wagon,7.0,5.0,21989.0,1.0,0.0,1.0
16729,Toyota,2014.0,Alphard,SYC Cars,USED,Automatic,-,Front,Unleaded,7.666985,66000.0,4.425849,Commercial,7.0,5.0,29500.0,1.0,0.0,1.0

In [ ]:
#We have out missing values taken care of! Now on to encoding our non-numeric values with Sklearn's OrdinalEncoder we imported above

In [ ]:
# Using ordinal encoder for encoding labels
encoder = OrdinalEncoder()
cols = ['Brand',
'Year',
'Model',
'Car/Suv',
'UsedOrNew',
'Transmission',
'Engine',
'DriveType',
'FuelType',
'BodyType']
# Reassign to our new encoded records
df[cols] = encoder.fit_transform(df[cols])

In [ ]:
# Let's see if we are ready to start fitting a model
df.head(20)

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,CylindersinEngine,BodyType,Doors,Seats,Price,FuelConsumption_missing,Kilometres_missing,CylindersinEngine_missing
0,64.0,39.0,610.0,505.0,0.0,1.0,32.0,1.0,1.0,8.700000,5595.0,4.000000,6.0,4.0,7.0,51990.0,0.0,0.0,0.0
1,43.0,39.0,482.0,225.0,2.0,1.0,25.0,2.0,7.0,6.700000,16.0,4.000000,3.0,5.0,5.0,19990.0,0.0,0.0,0.0
2,4.0,39.0,60.0,159.0,2.0,1.0,30.0,4.0,7.0,6.600000,8472.0,4.000000,2.0,2.0,4.0,108988.0,0.0,0.0,0.0
3,48.0,28.0,265.0,159.0,2.0,1.0,96.0,4.0,7.0,11.000000,136517.0,8.000000,2.0,2.0,4.0,32990.0,0.0,0.0,0.0
4,58.0,39.0,123.0,465.0,2.0,1.0,23.0,2.0,8.0,6.000000,1035.0,4.000000,6.0,4.0,5.0,34990.0,0.0,0.0,0.0
5,69.0,21.0,290.0,387.0,2.0,1.0,0.0,3.0,8.0,7.666985,160230.0,4.425849,0.0,4.0,5.0,9990.0,1.0,0.0,1.0
6,40.0,34.0,616.0,465.0,2.0,1.0,30.0,1.0,1.0,5.100000,67662.0,4.000000,6.0,2.0,4.0,62280.0,0.0,0.0,0.0
7,51.0,17.0,566.0,225.0,2.0,1.0,26.0,2.0,8.0,8.000000,300539.0,4.000000,3.0,5.0,5.0,2995.0,0.0,0.0,0.0
8,69.0,30.0,91.0,159.0,2.0,1.0,30.0,4.0,7.0,7.100000,82012.0,4.000000,2.0,2.0,4.0,24888.0,0.0,0.0,0.0
9,28.0,31.0,430.0,225.0,2.0,1.0,23.0,2.0,3.0,4.500000,38229.0,4.000000,3.0,5.0,5.0,17900.0,0.0,0.0,0.0
10,69.0,26.0,401.0,119.0,2.0,1.0,0.0,3.0,8.0,7.666985,148190.0,4.425849,0.0,4.0,5.0,42500.0,1.0,0.0,1.0
11,69.0,35.0,401.0,152.0,2.0,1.0,37.0,4.0,8.0,9.800000,16324.0,4.000000,0.0,4.0,2.0,41999.0,0.0,0.0,0.0
14,69.0,33.0,401.0,152.0,2.0,1.0,40.0,4.0,1.0,8.000000,229829.0,4.000000,0.0,4.0,2.0,27995.0,0.0,0.0,0.0
15,70.0,29.0,385.0,225.0,2.0,1.0,24.0,2.0,7.0,6.200000,55676.0,4.000000,3.0,5.0,5.0,14999.0,0.0,0.0,0.0
16,4.0,31.0,737.0,465.0,2.0,1.0,30.0,0.0,1.0,5.600000,82624.0,4.000000,6.0,4.0,5.0,24985.0,0.0,0.0,0.0
17,50.0,30.0,549.0,184.0,2.0,2.0,0.0,3.0,0.0,7.666985,120020.0,4.425849,9.0,4.0,5.0,13999.0,1.0,0.0,1.0
18,4.0,28.0,2.0,225.0,2.0,1.0,30.0,4.0,1.0,5.400000,95204.0,4.000000,3.0,5.0,5.0,13999.0,0.0,0.0,0.0
19,19.0,31.0,318.0,225.0,2.0,1.0,15.0,2.0,8.0,5.400000,76289.0,3.000000,3.0,5.0,5.0,12400.0,0.0,0.0,0.0
20,50.0,29.0,549.0,465.0,2.0,1.0,34.0,1.0,8.0,7.500000,219681.0,4.000000,6.0,4.0,7.0,13999.0,0.0,0.0,0.0
21,19.0,30.0,318.0,225.0,2.0,1.0,26.0,2.0,8.0,6.100000,98079.0,4.000000,3.0,5.0,5.0,11999.0,0.0,0.0,0.0

In [ ]:
#Checking the datatypes again
df.dtypes

Brand                        float64
Year                         float64
Model                        float64
Car/Suv                      float64
UsedOrNew                    float64
Transmission                 float64
Engine                       float64
DriveType                    float64
FuelType                     float64
FuelConsumption              float64
Kilometres                   float64
CylindersinEngine            float64
BodyType                     float64
Doors                        float64
Seats                        float64
Price                        float64
FuelConsumption_missing      float64
Kilometres_missing           float64
CylindersinEngine_missing    float64
dtype: object

In [ ]:
# load libraries

# import pandas
import pandas as pd
# Import Decision Tree Classifier
from sklearn.svm import SVC
# Import train_test_split function
from sklearn.model_selection import train_test_split
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

In [ ]:
# loading data

df = pd.read_csv("Australian Vehicle Prices.csv")
print (df.shape)

df.head()

(16734, 19)

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990

In [ ]:
#split dataset into input variable X and target variable y

X = df.drop(['Price'], axis=1)

#check that the class variable has been removed
X.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats

In [ ]:
#separate target variable
y = df.Price

#view target values
print (y[0:5])

0     51990
1     19990
2    108988
3     32990
4     34990
Name: Price, dtype: object

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.impute import SimpleImputer
import pandas as pd

# Assuming 'df' is your DataFrame

# Separate target variable
y = df['Price']

# Convert 'Price' column to numeric type
y = pd.to_numeric(y, errors='coerce')

# Handle missing values in the target variable
imputer = SimpleImputer(strategy='mean')
y = imputer.fit_transform(y.values.reshape(-1, 1)).flatten()

# Convert 'Price' column to categorical type
y = pd.cut(y, bins=3, labels=['Low', 'Medium', 'High'])  # Adjust the binning as needed

# Exclude the target variable from the feature set
X = df.drop('Price', axis=1)

# Split dataset into training set and test set: 70% training and 30% testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# Create transformers for numerical and categorical features
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='Unknown')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Separate features into numerical and categorical
numerical_features = X.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X.select_dtypes(include=['object']).columns

# Create column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Apply preprocessing to the training data
X_train_preprocessed = preprocessor.fit_transform(X_train)

# Create SVM classifier object
clf = SVC()

# Train SVM classifier
clf.fit(X_train_preprocessed, y_train)

# Apply preprocessing to the test data
X_test_preprocessed = preprocessor.transform(X_test)

# Predict the response for the test dataset
y_pred = clf.predict(X_test_preprocessed)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9996016729735112

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.impute import SimpleImputer
import pandas as pd

# Separate target variable
y = df['Price']

# Convert 'Price' column to numeric type
y = pd.to_numeric(y, errors='coerce')

# Convert 'Price' column to categorical type
y = pd.cut(y, bins=3, labels=['Low', 'Medium', 'High'])  # Adjust the binning as needed

# Use LabelEncoder to convert categorical labels to numeric values
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

# Handle missing values in the target variable
imputer = SimpleImputer(strategy='mean')
y = imputer.fit_transform(y.reshape(-1, 1)).flatten()  # Remove '.values'

# Convert 'Price' column to categorical type
y = pd.cut(y, bins=3, labels=['Low', 'Medium', 'High'])  # Adjust the binning as needed

# Exclude the target variable from the feature set
X = df.drop('Price', axis=1)

# Split dataset into training set and test set: 70% training and 30% testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# Create transformers for numerical and categorical features
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='Unknown')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Separate features into numerical and categorical
numerical_features = X.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X.select_dtypes(include=['object']).columns

# Create column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Apply preprocessing to the training data
X_train_preprocessed = preprocessor.fit_transform(X_train)

# Create another SVM classifier object
clf2 = SVC(kernel='linear')

# Train Decision Tree Classifier
clf2 = clf2.fit(X_train_preprocessed, y_train)

# Predict the response for the test dataset
X_test_preprocessed = preprocessor.transform(X_test)
y_pred2 = clf2.predict(X_test_preprocessed)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred2))

Accuracy: 0.9972117108145788

# New section

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.impute import SimpleImputer
import pandas as pd


# Separate target variable
y = df['Price']

# Convert 'Price' column to numeric type
y = pd.to_numeric(y, errors='coerce')

# Handle missing values in the target variable
imputer = SimpleImputer(strategy='mean')
y = imputer.fit_transform(y.values.reshape(-1, 1)).flatten()

# Option 1: Regress actual price (regression model)
# y = y

# Option 2: Classify price into categories (classification model)
# y = pd.cut(y, bins=3, labels=['Low', 'Medium', 'High'])

# Exclude the target variable from the feature set
X = df.drop('Price', axis=1)

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=1)

# Create transformers for numerical and categorical features
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='Unknown')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Separate features into numerical and categorical
numerical_features = X.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X.select_dtypes(include=['object']).columns

# Create column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Apply preprocessing to training and test data
X_train_preprocessed = preprocessor.fit_transform(X_train)
X_test_preprocessed = preprocessor.transform(X_test)

In [ ]:
# Define the model
model = Sequential()

# Add input layer (number of neurons depends on the number of preprocessed features)
model.add(Dense(units=X_train_preprocessed.shape[1], input_dim=X_train_preprocessed.shape[1], activation='relu'))

# Add additional hidden layers (optional)
# model.add(Dense(units=128, activation='relu'))
# model.add(Dense(units=64, activation='relu'))

# Add output layer (number of neurons depends on the chosen task:
# 1 for regression, number of categories for classification)
model.add(Dense(units=1, activation='linear')) # For regression
# model.add(Dense(units=3, activation='softmax')) # For classification

# Compile the model
model.compile(loss='mse', optimizer='adam', metrics=['mse'])

# Train the model
model.fit(X_train_preprocessed, y_train, epochs=10, batch_size=32)

Epoch 1/10
367/367 [==============================] - 3220s 9s/step - loss: 2133009792.0000 - mse: 2133009792.0000
Epoch 2/10
367/367 [==============================] - 3104s 8s/step - loss: 1213348864.0000 - mse: 1213348864.0000
Epoch 3/10
367/367 [==============================] - 3115s 8s/step - loss: 977051904.0000 - mse: 977051904.0000
Epoch 4/10
367/367 [==============================] - 3087s 8s/step - loss: 848797696.0000 - mse: 848797696.0000
Epoch 5/10
367/367 [==============================] - 3096s 8s/step - loss: 771497152.0000 - mse: 771497152.0000
Epoch 6/10
367/367 [==============================] - 3075s 8s/step - loss: 716364992.0000 - mse: 716364992.0000
Epoch 7/10
367/367 [==============================] - 3074s 8s/step - loss: 672576704.0000 - mse: 672576704.0000
Epoch 8/10
367/367 [==============================] - 3083s 8s/step - loss: 634174272.0000 - mse: 634174272.0000
Epoch 9/10
367/367 [==============================] - 3078s 8s/step - loss: 599513536.0000 - mse: 599513536.0000
Epoch 10/10
367/367 [==============================] - 3077s 8s/step - loss: 566169216.0000 - mse: 566169216.0000

In [ ]:
# Predict the response for the test dataset
y_pred = model.predict(X_test_preprocessed)

# Evaluate the model performance for regression:
print("Mean Squared Error (MSE):", metrics.mean_squared_error(y_test, y_pred))

157/157 [==============================] - 7s 47ms/step
Mean Squared Error (MSE): 422880201.657995

In [ ]:
#from sklearn.neural_network import MLPRegressor